section{
    height:500px;
    background-color: yellow;
    border:solid black 1px;
}
.dkhero{
    background-color: #1c1d25;
    height:100vh;
    color :white;
    font-size: 40px;
}
footer{
    height:500px;
    background-color: black;
}
nav{
    display: flex;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    width:200px;
    text-decoration: none;
}